#navBar {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 0;
    border-bottom: 2px solid black;
}

#title{
    position: inherit;
    display: inline-block;
    margin: 0px;
    font-size: 30px;
}

#userName{
    display: inline-block;
    float: right;
    margin: 0px;
}

#mainContainer {
    position: relative;
    width: 100%;
}

#welcome{
    position: relative;
    display: block;
    width: 100%;
    height: 60px;
}

#iconContainer{
    width: 30%;
    height: 450px;
    display: inline-block;
    position: relative;
    margin: 0;
    left: 10px;    
}

#list h4{
    font-size: 25px;
    margin: 5px;
    position: relative;
}

#iconData{
    width: 100%;
    height: 400px;
    overflow: scroll;
}

#iconData i{
    margin: 5px;
    padding: 12px;
    font-size: 15px;
}

#iconContainer button{
    width: 60px;
    border: 1px solid black;
    border-radius: 10px;
    background: #fff;
    font-size: 15px;
}

#pledgeContainer{
    width: 69%;
    height: 500px;
    display: inline-block;
    position: relative;
    left: 5px;
    border-left: 1px solid black;
}

#pledges h4{
    display: inline-block;
    margin: 0;
    padding-bottom: 6px;
    position: relative;
    left: 10px;
    font-size: 25px;
}

#pledgeData {
    width: 100%;
    height: 400px;
    overflow: scroll;
    display: inline-block;
}

hr {
    margin: 0px;
}

#totalPledges{
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    margin: 0;
}

#totalHeader p{
    position: relative;
    margin: 0;
    left: 10px;
    top: 5px;
}

#footer{
    width: 100%;
    height: 60px;
    position: relative;
    border-top: 2px solid black;
    text-align: center;
}

#footer h3{
    position: relative;
    display: inline-block;
    margin: 0;
    width: 100px;
}

#footer p{
    display: inline-block;
}

#footer a{
    margin: 10px;
}

#pledgeData img{
    margin: 20px;
}
