#formContainer{
    width: 100%;
    height: 550px;
}

#loginContainer {
    position: fixed;
    display: inline-block;
    width: 340px;
    height: 280px;
    top: 20%;
    left: 20%;
	background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#signUpContainer {
    position: fixed;
    width: 340px;
    height: 380px;
    top: 20%;
    left: 50%;
    margin: auto;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

#formContainer form{
	margin: 0 auto;
	margin-top: 20px;
}

#formContainer label{
	color: aqua;
	display: inline-block;
	margin-left: 18px;
	padding-top: 10px;
	font-size: 14px;
}

#formContainer p a:hover{
	color:brown;
}

#formContainer input{
	font-size: 12px;
	outline: none;
}

#formContainer input[type=text],
input[type=password] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
}

#lower {
    background: #ecf2f5;
    width: 100%;
    height: 69px;
    margin-top: 20px;
}
#formContainer input[type=checkbox] {
    margin-left: 20px;
    margin-top: 30px;
}
#formContainer .check {
    margin-left: 3px;
}

#formContainer input[type=submit] {
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef;
    border-radius: 30px;
    border: 1px solid #66add6;
    cursor: pointer;
}

#navBar {
    position: relative;
    width: 100%;
    height: 15%;
    margin: 0;
    border-bottom: 2px solid black;
}

#title{
    position: relative;
    display: inline-block;
    font-size: 30px;
}

#userName{
    display: inline-block;
    float: right;
}

#mainContainer {
    position: relative;
    width: 100%;
    height: 80%;
    overflow: scroll;
}

#iconContainer{
    width: 40%;
    display: inline-block;
    position: relative;
    left: 10px;    
}

#iconContainer a{

}

#pledges{
    width: 40%;
    height: 20%;
    overflow: scroll;
    display: inline-block;
    position: relative;
    bottom: 25px;
    left: 5px;
    border-left: 1px solid black;
}

#pledges h2{
    margin: 0;
    padding-bottom: 6px;
    position: relative;
    left: 10px;
}

#totalPledges{
    position: relative;
    display: block;
    height: 10%;
    overflow: scroll;
    margin: 0;
    left: 10px;
}

#totalPledges p{
    margin: 0;
    padding-top: 10px;
}

#footer{
    width: 100%;
    height: 40px;
    position: relative;
    border-top: 2px solid black;
}

#footer h3{
    position: relative;
    display: inline-block;
    width: 100px;
}

#footer p{
    display: inline-block;
}
